<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidtarefa2">
    <!-- permiso de lectura sd, me falla, le he tenido que dar permisos también en android -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- permiso almacenamiento sd -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--permiso uso cámara -->
    <!--<uses-permission android:name="android.permission.CAMERA"/>-->
    <!-- indico que la app  hará uso de la cámara -->
   <!-- <uses-feature android:name="android.hardware.camera" android:required="true"/>-->
    <!-- permiso uso de la cámara (no necesario si Intent-->
    <!--<uses-permission android:name="android.permission.CAMERA" />-->

    <!--cambio  android:requestLegacyExternalStorage="true"-->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AdminPedidosRexeitados"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".AdminPedidosAceptados"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".AdminPedidosTramite"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".Rexistro" />
        <activity android:name=".HistoricoCompras"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".DireccionPedido"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".PedidosTramite"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".HacerPedido"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".Cliente1Panel"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".AdminPanel"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>